<h2>task {{model.title}}</h2>
<div class="row">
    <div class="col-md-12">
        {{model.body}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Priority</b>
    </div>
    <div class="col-md-8">
        {{show-priority model.priority}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Deadline</b>
    </div>
    <div class="col-md-8">
        {{date_or_notset}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Work on today?</b>
    </div>
    <div class="col-md-8">
        {{#if workon_today }}
        Yes
        {{else}}
        Perhaps
        {{/if}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <b>Completed</b>
    </div>
    <div class="col-md-8">
        {{#if model.isCompleted }}
        Yes
        {{else}}
        No
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{#link-to "goals.goal.tasks.task.edit" model.id}}
            <a class="btn btn-default pull-right">Edit</a>
        {{/link-to}}
        <button class="btn btn-danger pull-right" {{action "deleteTask"}}>Delete</button>
    </div>
</div>
