{{#m3r-modal title=title}}
    {{#m3r-modal-body}}
    {{#if (eq mode modes.edit)}}
        {{edit-task model=model register-as=editform save=(action 'save') }}
    {{else if (eq mode modes.del)}}
    <div class="row">
        <div class="col-md-12">
            <h4>You are about to delete</h4>
            <p>
            <em>{{model.title}}</em>
            </p>
            Are you sure?
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-md-12">
            {{markdown-to-html markdown=model.body simplifiedAutoLink=true}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Priority</b>
        </div>
        <div class="col-md-8">
            {{show-priority model.priority}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Deadline</b>
        </div>
        <div class="col-md-8">
            {{date_or_notset}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Put on plate?</b>
        </div>
        <div class="col-md-8">
            {{#if model.workon }}
            Yes
            {{else}}
            No
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Completed</b>
        </div>
        <div class="col-md-8">
            {{#if model.isCompleted }}
            Yes
            {{else}}
            No
            {{/if}}
        </div>
    </div>
    {{/if}}
    {{/m3r-modal-body}}

    {{#m3r-modal-buttons}}
        <button type="button" class="btn btn-default" {{action "closeModal"}}>Close</button>
        {{#if (eq mode modes.edit)}}
        <button type="button" class="btn btn-primary" {{action 'save'}}>Save</button>
        {{else if (eq mode modes.del)}}
        <button type="button" class="btn btn-danger" {{action 'delete_confirmed'}}>Yes, delete!</button>
        {{else}}
        <button type="button" class="btn btn-danger" {{action 'delete'}}>Delete</button>
        <button type="button" class="btn btn-primary" {{action 'edit'}}>Edit</button>
        {{/if}}
    {{/m3r-modal-buttons}}

{{/m3r-modal}}

{{yield}}
