<div class="row">
    <div class="col-xs-2">
        {{#if task.isCompleted }}
            <div class="btn btn-default btn-xs glyphicon glyphicon-check" {{action "toggleCompleted" bubbles=false}}></div>
        {{else}}
            <div class="btn btn-default btn-xs glyphicon glyphicon-unchecked" {{action "toggleCompleted" bubbles=false}}></div>
        {{/if}}
    </div>
    <div class="col-xs-10">
        {{task.title}}
        <span class="pull-right pointer glyphicon glyphicon-chevron-right"></span>

        {{#if date}}
        <br>
        <small class="visible-sm visible-md">{{date}}</small>
        {{/if}}
        {{show-priority task.priority}}

    </div>
</div>
