<form>
    <div class="form-group">
        {{input type="text" class="form-control input-lg" id="taskTitle" value=work.title placeholder="Enter title"}}
    </div>
    <div class="form-group">
        <label for="taskBody">Details</label>
        {{textarea class="form-control" id="taskBody" value=work.body}}
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>Priority</b>
        </div>
        <div class="col-md-8">
            {{view "select" content=task_priorities
                            optionValuePath="content.prio"
                            optionLabelPath="content.label"
                            value=work.priority
                            classNames="form-control"}}
        </div>
    </div>
    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=work_today }} Work on this today
        </label>
    </div>
    <div class="checkbox">
        <label>
            {{input type="checkbox" checked=work.isCompleted }} Completed
        </label>
    </div>
    <div class="form-group">
        <label for="taskDeadline">Deadline</label>
        {{bs-datetimepicker date=work.date format='YYYY-MM-DD hh:mm'}}
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success pull-right" {{action "saveTask"}}>Save</button>
        <button class="btn btn-default pull-right" {{action "cancelTask"}}>Cancel</button>
    </div>
</div>
