<div class="row">
    <div class="col-md-6">
    <h2>goal {{model.title}}</h2>
    {{# if isEditing }}
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="form-group">
                  <label for="goalTitle">Title</label>
                  {{input type="text" class="form-control" id="goalTitle" placeholder="Enter title" value=model.title}}
                </div>
                <div class="form-group">
                  <label for="goalDescription">Details</label>
                  {{textarea class="form-control" id="goalDescription" value=model.body}}
                </div>
            <button class="btn btn-default" {{action "saveGoal"}}>Save</button>
            <button class="btn btn-default" {{action "cancelEdit"}}>Cancel</button>
            </form>
        </div>
    </div>
    {{/if}}
    <div class="list-group">
        <div class="list-group-item">
            <form {{action "createTask" on="submit" }}>
              {{input type="text" class="new-task" placeholder=newTaskPlaceholder value=newTask}}
              <button type="submit" class="btn btn-primary btn-sm new-artist-button"
                      {{bind-attr disabled=disabled}}>Add</button>
            </form>
        </div>
    </div>
    {{#each tasks as |task|}}
        <div class="list-group-item">
            {{#link-to 'goals.goal.task' task.id }}
                {{ task-listitem task=task }}
            {{/link-to}}
        </div>
    {{/each}}
    </div>
    <div class="col-md-6">
        {{ outlet }}
    </div>
</div>
