<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <div class="list-group-item">
                    {{input type="text" class="new-goal" placeholder="New Goal" value=newGoal}}
                    <button class="btn btn-primary btn-sm new-goal-button" {{action "createGoal"}}
                            {{bind-attr disabled=disabled}}>Add</button>
                </div>
            </div>
            {{#each arrangedContent as |goal|}}
                {{#link-to 'goals.goal' goal.id class="list-group-item" }}
                    {{goal.title}}
                {{/link-to}}
            {{/each}}
        </div>

        <div class="col-md-8">
            {{outlet}}
        </div>
    </div>
</div>
