<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Goals</h2>
            <div class="list-group">
                <div class="list-group-item">
                    <form {{ action "createGoal" on="submit" }}>
                        {{input type="text" class="new-goal" placeholder="New Goal" value=newGoal}}
                        <button type="submit" class="btn btn-primary btn-sm new-goal-button"
                                {{bind-attr disabled=disabled}}>Add</button>
                    </form>
                </div>
            </div>
            {{#each arrangedContent as |goal|}}
                <div class="list-group-item">
                    {{#link-to 'goals.goal' goal.id }}
                        {{goal.title}}
                    {{/link-to}}
                    <button class="btn btn-primary btn-xs pull-right" {{action "editGoal" }}>Edit</button>
                </div>
            {{/each}}
        </div>

        <div class="col-md-8">
            {{outlet}}
        </div>
    </div>
</div>
